### If replying, enter above this line (~cid: {{card.id}}) ###
<table class="body">
  <tr>
    <td class="center" align="center" valign="top">
      <center>
        {{> "header"}}

        <table class="container page">
          <tr>
            <td>

              <table class="row">
                <tr>
                  <td class="wrapper last">

                    <table class="twelve columns">
                      <tr>
                        <td>
                          <center>
                            <h3 class="center spaced"><i>{{card.name}}</i></h3>
                            {{#if comment}}
                              <h6 class="spaced"><strong>Reply{{#if commenter}} From {{commenter}}{{/if}}:</strong> "{{comment}}"</h6>
                            {{else}}
                              <h3 class="center spaced">
                                {{#if isClosed}}
                                  Issue closed
                                {{else}}
                                  We're on it!
                                {{/if}}
                              </h3>
                              <h5 class="center spaced">Your issue "{{card.name}}" has been marked as <strong>{{updateType}}</strong>.</h5>
                              {{#if closingRemark}}
                                <h6 class="center spaced">
                                  <strong>Closing remark
                                  {{#if closingRemark.member}}
                                    by {{closingRemark.member}}
                                  {{/if}}:</strong>
                                  {{closingRemark.text}}
                                </h6>
                              {{/if}}
                            {{/if}}
                          </center>
                        </td>
                        <td class="expander"></td>
                      </tr>
                      <tr class="signature">
                        <td>
                          - AE Issue Team
                        </td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

        {{> "footer"}}
      </center>
    </td>
  </tr>
</table>
